/* ABOUT SECTION */

#about-me{
    margin-top: 0;
}

#about{
    position:relative;
    margin-top: 10px;
}

.about-container{
    gap:2rem;
    margin-bottom:2rem;
    margin-top:2rem;
}

.about-details-container{
    flex-direction:column;
    width: 50%;
}

.about-container,
.about-details-container{
    display:flex;
}

.about-pic{
    border-radius:2rem;
    height: 550px;
    width: auto;
}

.arrow{
    position:absolute;
    right:-5rem;
    bottom:2.5rem;
}

.section__pic-container{
    display: flex;    
}

/* IMAGE NAVIGATION */
  
.icon-arrow{
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 0 5px;
    margin-top: 225px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .icon-arrow:hover {
    background-color: #bbbbbb;
  }

  .pic-controls-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
  }