/* ABOUT SECTION */

#about-me{
    margin-top: 0;
}

#about{
    position:relative;
    margin-top: 10px;
}

.about-container{
    gap:2rem;
    margin-bottom:2rem;
    margin-top:2rem;
}

.about-details-container{
    justify-content:center;
    flex-direction:column;
}

.about-container,
.about-details-container{
    display:flex;
}

.about-pic{
    border-radius:2rem;
    cursor: pointer;
    height: 20rem;
    width: 20rem;
}

.arrow{
    position:absolute;
    right:-5rem;
    bottom:2.5rem;
}

.section__pic-container{
    display: flex;
    padding-left: 35% !important;
    padding-bottom: 10% !important;
    
}

/* IMAGE NAVIGATION */
  
.icon-arrow{
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 0 5px;
    margin-top: 5rem;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .icon-arrow:hover {
    background-color: #bbbbbb;
  }