/* EXPERIENCE */

#experience-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 5px;
}

#dot-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

#experience{
    position:relative;
}

.experience-sub-title{
    color:rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
}