/* EXPERIENCE */

#experience-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    margin-bottom: 5px;
    margin-right: 5%;
    margin-left: 5%;
}

#dot-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

#experience{
    position:relative;
}

.experience-sub-title{
    color:rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.experience-details-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.jobsite-tour{
    border-radius: 2rem;
    width: 60%;
    height: auto;
}

.expiernece-description{
    font-size: large;
    margin: 0 10% 0 10%;
}